* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 20px;
}

.logo {
  width: 70px;
}

.places {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.places a {
  text-decoration: none;
  font-size: 1.5rem;
}

.active {
  color: red;
  text-shadow: 1px 1px 2px black;
}

.inactive {
  color: white;
}

.charizard {
  width: auto;
  height: 500px;
}

.pokeView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokeForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 400px;
}

.dropdown-menu {
  overflow: auto;
  max-height: 250px;
  min-width: 400px;
}

.buscador{
  width: 100%;
}

.card {
  min-width: 500px;
  min-height: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border: 1px solid rgb(151, 110, 110);
  border-radius: 40px;
  margin-bottom: 20px;
}

.poke-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.preview {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  border: 1px solid rgb(151, 110, 110);
  margin-bottom: 10px;
  margin-top: 10px;
}

.preview-img {
  height: 200px;
}

.text-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.card-img {
  height: 200px;
  width: 200px;
  border: 1px solid rgb(151, 110, 110);
}

.stat {
  text-align: left;
  font-weight: bold;
}
.stat-value {
  text-align: end;
}
