.completeGallery {
    color: #ccc;
  }
  
  .pageTitle {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .cardGallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
  }
  
  .cardComplete {
    width: 320px;
    text-align: center;
  }
  
  .cardImage {
    height: 200px;
    object-fit: cover;
  }
  
  .cardText {
    height: 120px;
  }
  
  .galleryFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }